body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
    width: 100%;
}

input[type='radio'] {
    width: 0;
    height: 0;
    opacity: 0;
}

.container {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.container label {
    font-size: 16px;
    margin: 05px 10%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 20px;
    background-color: #000000;
    border-style: solid;
    border-width: 4px;
    border-color: #15ff004b;
    color: #15ff00;
    vertical-align: top;
}

#t1:checked+label {
    border-color: #15ff00;
}

#t2:checked+label {
    border-color: #15ff00;
}

#t1:checked ~ .roll { display: block; }
#t2:checked ~ .inventory { display: block; }

.tab {
    font-size: 16px;
    border: 4px solid #15ff00;
    color: #15ff00;
    width: 85%;
    height: 85%;
    display: none;
    padding: 20px;
    margin: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.tab hr {
    border-color: #15ff00;
    border-width: 2px;
    border-style: double;
}

.inv-item-section,
.roll-content-section {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ff0000;
    text-align: center;
}

.inv-item,
.roll-content {
    border: 2px solid #15ff00;
    width: 80px;
    height: 80px;
    padding: 4px;
    font-size: 12px;
    flex-shrink: 0;
    text-align: inherit;
}

.roll-content {
    width: 250px;
    height: 250px;
}

.inv-item img,
.roll-content img {
    height: 55px;
    margin: 0;
}

.roll-content img {
    height: 215px;
}

.inv-item p {
    margin: 0;
}

.roll-content button {
    color: #15ff00;
    background-color: #000000;
    border: 2px solid #15ff00;
    margin-top: -1px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}

.roll-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    pointer-events: all;
    color: #15ff00;
    text-align: center;
    display: none;

}

.roll-overlay h2 {
    margin-top: 20%;
}

.roll-overlay p {
    margin-top: 0;
    padding-top: 0;
    font-size: 13px;
}

.roll-overlay h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.roll-overlay progress {
    color: #15ff00;
    background-color: #000000;
    border-radius: 10em;
    border-color: #15ff00;
    border-width: 2px;
    
}

.roll-overlay progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: #15ff00;
}
.roll-overlay progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: #15ff00;
}